/* AddPatient.css */
.add-patient-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #74ebd5, #acb6e5);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.add-patient-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.add-patient-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}


.form-input {
  width: 100%;
  /*max-width: 400px;    */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.submit-button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
